<div *ngIf="!isLoading; else loading">
  <form [formGroup]="formGroup">
    <div *ngFor="let field of fields">
      <mat-label>{{ field.title }}</mat-label>
      <span [ngSwitch]="getType(field, item[field.name])">
        <span *ngSwitchCase="'boolean'">
          <mat-checkbox [checked]="item[field.name]" [formControlName]="field.name"></mat-checkbox>
        </span>
        <span *ngSwitchCase="'integer'">
          <mat-form-field>
            <input matInput [formControlName]="field.name" type="number" [value]="item[field.name]"/>
          </mat-form-field>
        </span>
        <span *ngSwitchCase="'date'">
          <mat-form-field>
            <input matInput [formControlName]="field.name" [matDatepicker]="datePicker" [value]="item[field.name]"/>
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>
        </span>
        <mat-form-field *ngSwitchDefault>
          <input matInput [formControlName]="field.name" type="text" [value]="item[field.name]"/>
        </mat-form-field>
      </span>
    </div>
    <button mat-raised-button color="primary" (click)="submit()">Mentés</button>
  </form>
</div>
<ng-template #loading>
  <mat-spinner [diameter]="100" [style.margin]="'auto'"></mat-spinner>
</ng-template>
